[submodule "vim/bundle/funcoo"]
	path = vim/bundle/funcoo
	url = git://github.com/rizzatti/funcoo.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/phpdoc"]
	path = vim/bundle/phpdoc
	url = git://github.com/stephpy/vim-phpdoc.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/dispatch"]
	path = vim/bundle/dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/scratch"]
	path = vim/bundle/scratch
	url = git://github.com/vim-scripts/scratch.vim.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/tagbar-phpctags"]
	path = vim/bundle/tagbar-phpctags
	url = git://github.com/vim-php/tagbar-phpctags.vim.git
[submodule "vim/bundle/lustyjuggler"]
	path = vim/bundle/lustyjuggler
	url = git://github.com/vim-scripts/LustyJuggler.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/phpunit"]
	path = vim/bundle/phpunit
	url = git://github.com/jonyamo/phpunit.vim.git
[submodule "vim/bundle/sudo-gui"]
	path = vim/bundle/sudo-gui
	url = git://github.com/gmarik/sudo-gui.vim.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = git://github.com/bling/vim-airline.git
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/indent-guides"]
	path = vim/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/numbertoggle"]
	path = vim/bundle/numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "vim/bundle/projectroot"]
	path = vim/bundle/projectroot
	url = git://github.com/dbakker/vim-projectroot.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git@github.com:wincent/Command-T.git
[submodule "vim/bundle/php-syntax"]
	path = vim/bundle/php-syntax
	url = git@github.com:joshtronic/php.vim
[submodule "bundle/twig"]
	path = vim/bundle/twig
	url = git@github.com:beyondwords/vim-twig
[submodule "vim/bundle/yaml"]
	path = vim/bundle/yaml
	url = git@github.com:stephpy/vim-yaml
[submodule "vim/bundle/vdebug"]
	path = vim/bundle/vdebug
	url = git@github.com:joonty/vdebug
[submodule "vim/bundle/QFenter"]
	path = vim/bundle/QFenter
	url = git@github.com:vim-scripts/QFEnter
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/addon-mw-utils"]
	path = vim/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/snippets"]
	path = vim/bundle/snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "vim/bundle/vim-phpspec"]
	path = vim/bundle/vim-phpspec
	url = git@github.com:rafi/vim-phpspec.git
